@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "boardtogether";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(95% 0.038 75.164);
  --color-base-200: lch(89.7% 32.49 74.12);
  --color-base-300: lch(80.86% 28.61 74.12);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(39% 0.141 25.723);
  --color-primary-content: oklch(95% 0.038 75.164);
  --color-secondary: oklch(57% 0.245 27.325);
  --color-secondary-content: oklch(95% 0.038 75.164);
  --color-accent: oklch(62% 0.214 259.815);
  --color-accent-content: oklch(95% 0.038 75.164);
  --color-neutral: oklch(28% 0.091 267.935);
  --color-neutral-content: oklch(95% 0.038 75.164);
  --color-info: oklch(44% 0.11 240.79);
  --color-info-content: oklch(95% 0.038 75.164);
  --color-success: oklch(44% 0.119 151.328);
  --color-success-content: oklch(95% 0.038 75.164);
  --color-warning: oklch(55% 0.195 38.402);
  --color-warning-content: oklch(95% 0.038 75.164);
  --color-error: oklch(44% 0.177 26.899);
  --color-error-content: oklch(95% 0.038 75.164);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
